[Unit]
Description=Xmas tree lights.

[Service]
User=root
Type=simple
WorkingDirectory=/root/xmastree
Environment=NODE_ENV=production
ExecStart=/root/.nvm/versions/node/v12.22.7/bin/node index.js
Restart=always

[Install]
WantedBy=multi-user.target